{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <h1 class="mt-4">Nuestros Productos</h1>
    <p class="lead">Ofrecemos una amplia gama de seguros:</p>
    <div id="productCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/vida.jpg') }}" class="d-block w-100" alt="Seguro de Vida">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguro de Vida</h5>
                    <p>Protección para tu familia.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/auto.jpg') }}" class="d-block w-100" alt="Seguro de Auto">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguro de Auto</h5>
                    <p>Cobertura completa para tu vehículo.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/hogar.jpg') }}" class="d-block w-100" alt="Seguro de Hogar">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguro de Hogar</h5>
                    <p>Seguridad para tu hogar.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/salud.jpg') }}" class="d-block w-100" alt="Seguro de Salud">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguro de Salud</h5>
                    <p>Cuidarte es nuestra prioridad.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Volver al Inicio</a>
{% endblock %}